root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# PHP files
[*.php]
ij_php_align_key_value_pairs = true
ij_php_align_assignments = false
ij_php_align_class_constants = false
ij_php_align_phpdoc_param_names = false
ij_php_align_phpdoc_comments = false
ij_php_align_multiline_array_initializer_expression = false
ij_php_align_multiline_parameters = false
ij_php_align_multiline_parameters_in_calls = false
ij_php_align_multiline_chained_methods = false
ij_php_spaces_within_array_initializer_braces = true
ij_php_spaces_within_parentheses = false
ij_php_spaces_within_if_parentheses = true
ij_php_spaces_within_for_parentheses = true
ij_php_spaces_within_while_parentheses = true
ij_php_spaces_within_catch_parentheses = true
ij_php_spaces_within_switch_parentheses = true
ij_php_spaces_within_method_parentheses = false
ij_php_spaces_around_assignment_operators = true
ij_php_spaces_around_logical_operators = true
ij_php_spaces_around_equality_operators = true
ij_php_spaces_around_relational_operators = true
ij_php_spaces_around_bitwise_operators = true
ij_php_spaces_around_unary_operator = false
ij_php_concat_spaces = true

# Blade templates
[*.blade.php]
ij_blade_keep_indents_on_empty_lines = false

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4
